extend layout
block content
    form(name="login", action="/login", method="post")
      p
        | Who is ya?
      input(type="text", name="user")
      p
        | What be the secret words?
      input(type="password", name="pass")
      input(type="submit", value="login", class="button greenButton loginButton")
