main-color = #7F2838
background-color = #faf9f0

body
  font-family 'Arial'
  font-size 150%
  background-color background-color
  color #444
  margin 0px

header
  padding 10px
  color #fff
  font-size 1em
  text-align left
  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

header h1
  font-size 1.25em
  font-weight lighter
  text-transform uppercase
  margin 0px

.container
  width auto
  overflow hidden
  margin 10px

.main-content
  float left
  width 100%

  p
    margin-bottom 20px

.button {
  background-color:#717171;
  border:1px solid #9B9B9B;
  display:block;
  cursor:pointer;
  color:#ffffff;
  font-size:2em;
  margin-bottom: 10px;
  margin-top: 10px;
  padding:16px 16px;
  text-align:center;
  text-decoration:none;
  text-shadow:0px 1px 0px #B4B4B4;
  text-transform:uppercase;
  width:auto;
}
.button:active {
  background-color:#B2B2B2;
  position:relative;
  top:1px;
}

.greenButton {
  background-color:#44c767;
  border:1px solid #18ab29;
  text-shadow:0px 1px 0px #2f6627;
}
.greenButton:active {
    background-color:#5cbf2a;
}

.redButton {
  background-color:#B92F34;
  border:1px solid #990413;
  text-shadow:0px 1px 0px #521B1D;
}
.redButton:active {
    background-color:#AF1720;
}

input
  font-family 'Arial'
  font-size 2em
  margin-bottom 0.5em
  
.fullwidthinput
  box-sizing border-box
  width 100%

footer
  width auto
  border-top 1px dotted #ccc
  padding-top 5px
  padding-left 10px
  font-size 0.75em