body
  background-color #eee
  padding-top 70px

.tile
  margin-bottom  20px
  background-color  #fff
  border  1px solid transparent
  -webkit-box-shadow  0 1px 1px rgba(0, 0, 0, .05)
  box-shadow  0 1px 1px rgba(0, 0, 0, .05)
  display inline-block

.tile-body
  font-size 1.5em
  padding  10px

.tile-body-title
  font-size 1.6em

.tile-body-large
  font-size 4em
  font-weight 500

#modetile
  color #fff

$autoModeColor = #98ED86
$comfortModeColor = #ff9b25
$setbackModeColor = #87DFFF
$offModeColor = #c1153f

#modetile[title="comfortMode"]
  background-color $comfortModeColor

#modetile[title="setbackMode"]
  background-color $setbackModeColor

#modetile[title="offMode"]
  color #fff
  background-color $offModeColor

#temperaturetile
  color #000
#temperaturetile[title="25"]{background-color: #ff5422; color: #fff;}
#temperaturetile[title="22"]{background-color:#ff7000; color: #fff;}
#temperaturetile[title="19"]{background-color:#ff9b25; color: #fff;}
#temperaturetile[title="16"]{background-color: #ffd465; color: #fff;}
#temperaturetile[title="13"]{background-color: #fff357; color: #fff;}
#temperaturetile[title="10"]{background-color:#c3ff5d; color: #fff;}
#temperaturetile[title="7"]{background-color:#69c3ff; color: #fff;}
#temperaturetile[title="4"]{background-color:#69c3ff; color: #fff;}
#temperaturetile[title="1"]{background-color:#69c3ff; color: #fff;}
#temperaturetile[title="0"]{background-color: #9cd9ff; color: #fff;}

modeButton()
  padding-top 10px
  padding-bottom 10px
  padding-left 2px
  padding-right 2px

#autoModeButton
#comfortModeButton
#setbackModeButton
#offModeButton
  modeButton()

#autoModeIcon
    color $autoModeColor

#comfortModeIcon
    color $comfortModeColor

#setbackModeIcon
    color $setbackModeColor

#offModeIcon
    color $offModeColor

.tile-full
  margin-bottom  20px
  background-color  #fff
  border  1px solid transparent
  -webkit-box-shadow  0 1px 1px rgba(0, 0, 0, .05)
  box-shadow  0 1px 1px rgba(0, 0, 0, .05)
  display block

.chart-tile-body
  padding  3px

.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
