extend loggedin
block script
  script(src='/js/values.js')
  script(src='/js/home.js')
  script(type='text/javascript').
    function loadValues() {
        loadView();
    }
    window.onload = function(){ loadValues(); }

block content

  #modetile.tile
    div.tile-body.tile-body-large
        #currentModeSpin
            span.fa.fa-circle-o-notch.gly-spin(aria-hidden='true')
        #comfortMode.hidden
            span.fa.fa-sun-o(aria-hidden='true')
        #setbackMode.hidden
            span.fa.fa-moon-o(aria-hidden='true')
        #offMode.hidden
            span.fa.fa-power-off(aria-hidden='true')

  #temperaturetile.tile
      div.tile-body.tile-body-large
          #currentTemperature
              span.fa.fa-circle-o-notch.gly-spin(aria-hidden='true')

  #batterytile.tile
      div.tile-body.tile-body-large
          #currentBattery
              span.fa.fa-circle-o-notch.gly-spin(aria-hidden='true')

  br
  br

  #modeSelector.btn-group.btn-group-lg.btn-group-justified(data-toggle="buttons", aria-label="...")
    label.btn.btn-default(id="autoModeButton")
        span.fa.fa-calendar &nbsp; Auto
        input(type="radio", name="options")
    label.btn.btn-default
        span.fa.fa-sun-o &nbsp; Comfort
        input(type="radio", name="options")
    label.btn.btn-default
        span.fa.fa-moon-o &nbsp; Setback
        input(type="radio", name="options")
    label.btn.btn-default
        span.fa.fa-power-off &nbsp; Off
        input(type="radio", name="options")
