extend loggedin
block script
  script(type='text/javascript').
    function onButtonClicked() { 
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "api/led/on", false);
        xhr.send();
    }
    function offButtonClicked() { 
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "api/led/off", false);
        xhr.send();
    }

block content
  p
    | Hello from the Raspberry Pi!

  a(href='#',class='button greenButton',onclick='onButtonClicked()') ON

  br

  a(href='#',class='button redButton',onclick='offButtonClicked()') OFF