extend loggedin
block script
  script(type='text/javascript').
    function onButtonClicked() { 
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "api/boiler/on", false);
        xhr.send();
    }
    function offButtonClicked() { 
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "api/boiler/off", false);
        xhr.send();
    }
    function displayTemperature(temperature) {
        document.getElementById("currentTemperature").innerHTML = temperature.temperatureValue + temperature.units;
        var ranges = [[0,0],[1,3],[4,6],[7,9],[10,12],[13,15],[16,18],[19,21],[22,24],[25,27]];
        var i = 0;
        while(i < ranges.length) {
            if(temperature.temperatureValue < ranges[i][0]) break;
            ++i;
        }
        var tempClass = ranges[Math.max(i-1, 0)][0];
        document.getElementById("temperaturetile").title = tempClass;
    /*.
        temp - 25 - 27
                .temp - 22 - 24
                .temp - 19 - 21
                .temp - 16 - 18
                .temp - 13 - 15
                .temp - 10 - 12
                .temp - 7 - 9
                .temp - 4 - 6
                .temp - 1 - 3
                .temp - 0*/
    }
    function scheduleTemperatureReload() {
        window.setTimeout(loadTemperature, 60000);
    }
    function loadTemperature() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if(xhr.status === 200) {
                    var jsonResponse = JSON.parse(xhr.responseText);
                    displayTemperature(jsonResponse);
                }
                scheduleTemperatureReload();
            }
        }
        xhr.open('GET', 'api/temperature/current', true);
        xhr.send(null);
    }
    window.onload = function(){ loadTemperature(); }

block content

  #temperaturetile.tile
      div.tile-body.tile-body-large
          #currentTemperature
              span.glyphicon.glyphicon-repeat.gly-spin(aria-hidden='true')

  button.btn.btn-lg.btn-success.btn-block(onclick='onButtonClicked()').
    ON

  br
  br

  button.btn.btn-lg.btn-danger.btn-block(onclick='offButtonClicked()').
    OFF