extend loggedin
block script
  script(type='text/javascript').
    function onButtonClicked() { 
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "api/boiler/on", false);
        xhr.send();
    }
    function offButtonClicked() { 
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "api/boiler/off", false);
        xhr.send();
    }
    function displayTemperature(temperature) {
        document.getElementById("currentTemperature").innerHTML = temperature;
    }
    function loadTemperature() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                displayTemperature(xhr.responseText);
            }
        }
        xhr.open('GET', 'api/temperature/current', true);
        xhr.send(null);
    }
    window.onload = function(){ loadTemperature(); }

block content
  p
    | Hello from the Raspberry Pi!

  div.panel.panel-primary
      div.panel-heading
          | Current Temperature
      div.panel-body
          #currentTemperature
              span.glyphicon.glyphicon-repeat.gly-spin(aria-hidden='true')

  button.btn.btn-lg.btn-success.btn-block(onclick='onButtonClicked()').
    ON

  br
  br

  button.btn.btn-lg.btn-danger.btn-block(onclick='offButtonClicked()').
    OFF