extend loggedin
block extrahead
    link(rel='stylesheet', href='/stylesheets/form.css')
block content

  h1 Invite New User

  form(name="invite", id="invite" action="/invite", method="post", class="form")
    if success && success.length > 0
      div.alert.alert-success(role='alert') #{success}
    if error && error.length > 0
      div.alert.alert-danger(role='alert') #{error}
    h2(class="form-heading") Send invite to email address:
    input(type="email", name="email", class="form-control", required, autofocus)
    input(type="submit", class="btn btn-lg btn-primary btn-block", value="SEND INVITE")
